<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333333;
            line-height: 1.6;
            padding: 20px;
        }

        .logo {
            position: absolute; /* Set image to absolute positioning */
            top: 5px; /* Adjust top position as needed */
            right: 20px; /* Adjust right position as needed */
            width: 595px; /* Set width of the image */
            height: auto; /* Maintain aspect ratio */
        }

        h1 {
            color: #4787e7;
        }

        h2 {
            color: #0f6bd3;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        ul li {
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        a {
            color: #0f6bce;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }
    </style>
</head>

<body>
    <img src="/filmCamera.jpg" alt="Logo" class="logo">

    <h1>Welcome to Personalized Movie Watchlist!</h1>
    <br>
   
    <b>This site allows you to search for movies and add them to a favorites list.</b> <br>
    <b>We offer a convienient way to document movies, of interest to you, to watch for a movie night or during your free time!</b><br>
    
    <hr>
    <b>All you need is the <em>EXACT</em> movie title and you are on your way to creating a stellar movie watchlist!!</b>
    <hr>

    <h2>Search & Add Movies</h2>
    <ul>
        <li>Search for movies and Add to your Favorites: <a href="/searchMovies">Search Movies</a></li>
    </ul>

    <hr> 

    <h2>Review & Edit Favorites</h2>
    <ul>
        <li>Review your Favorites and Remove Movies, if desired: <a href="/reviewFavorites">Review Favorites</a></li>
    </ul>

    <hr>

    <h2>Clear Favorites</h2>
    <ul>
        <li>To remove all movies from your Favorites: <a href="/removeAllMovies">Clear Favorites</a></li>
    </ul>

    <hr>

</body>
</html>