<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search Failure</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333333;
            line-height: 1.6;
            padding: 20px;
        }

        .logo {
            position: absolute; /* Set image to absolute positioning */
            top: 5px; /* Adjust top position as needed */
            right: 20px; /* Adjust right position as needed */
            width: 595px; /* Set width of the image */
            height: auto; /* Maintain aspect ratio */
        }

        h1 {
            color: #4787e7;
        }

        h2 {
            color: #0f6bd3;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        ul li {
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        a {
            color: #0f6bce;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }
    </style>
</head>
<body>
    <h1>Movie Not Found</h1>
    <p>Apologies, Movie Watcher, the movie you searched for, <u>"<%= movieTitle %>"</u>, was not found in our database!</p>
    <p>Please return back to the Search page: <a href="/searchMovies">Search for Other Movies</a></p>
        <hr>
    <br>
    <a href="/">RETURN TO HOME PAGE</a>
</body>
</html>